
*{
    font-family: 'Barlow', serif;
    font-weight: 500;
    box-sizing: border-box;
}

body{
    position: relative;
    /* background-image: radial-gradient(rgba(218, 195, 195, 0.753), rgba(238, 105, 101, 0.596)); */
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%;
    font-family: 'Poppins', sans-serif;
    

}
header{
    background: radial-gradient(#fff, #ffd6d6);
}

.navbar{
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
    height: 100px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.bagicon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: rgba(255, 255, 255, 0.596);
}
nav ul li{
    color: rgb(0, 0, 0);
    cursor: pointer;

}
.container{
    max-width: 1500px;
    margin: auto;
    /* padding-left: 25px;
    padding-right: 25px; */
    padding-left: 0px;
    padding-right: 0px;
    /* background-color: aquamarine; */
}

.frontphotodiv{
    position: relative;
    width: 100%;




}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.col-2{
    position: absolute;
    top: 50%;
    left: 10%;
    flex-basis: 50%;
    max-width: 1100px;
    max-height: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
}
.col-2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: justify;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px 0;
    color: rgb(255, 30, 30);
}
.col-2 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-left: 80px;
    color: rgb(255, 30, 30);
}
.col-2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 35px;
    margin-top: 20px;
    margin-left: 0px;
    color: white;
    font-weight: 400;
}
.frontphoto{
    max-width: 100%;
}
.frontbutton{
    position: absolute;
    top: 20%;
    left: 75%;
    width: 320px;
    height: 100px;
    border: none;
    /* background-color: rgb(250, 204, 204); */
    background-color: rgb(255, 47, 47);
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 rgb(239, 241, 66);
    transition: ease-out 0.3s;
    font-size: 1.4vw;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.frontbutton:hover{
  box-shadow: inset 320px 0 0 0 rgb(224, 255, 46);
  color: black;
}
.logo{
    cursor: pointer;
}

.featuredproduct{
    margin: auto;
    width: 100%;
    height: 800px;
    /* background: green; */
    padding: 2px;
}

.fptitle{
    
    height: 10%;
    margin-top: 0px;
    margin-bottom: 10px;
    
    }
    
    .fph2{
        font-family: Barlow;
        font-weight: 500;
        font-size: 3vw;
        margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 85px;
    
    }
    
    .fpdescription{
    font-family: Barlow;
    text-align: center;
    margin-top: 0px;
    font-size: 2vw;
    cursor: pointer;
    }

.fpdescription p{
    color: black;
    margin-top: 10px;
}
    
    .fphr{
        margin-top: 0px;
        margin-bottom: 20px;
    width: 20vw;
    background-color: red;
    border: 3px red solid;
    
    } 




.row-2{
   display: flex;
   flex-wrap: wrap;
   
   margin: auto;
   width: 95%;
   height: 80%  ;
   overflow: hidden;
   cursor: pointer;
}
.col-4{
    float: right;
    min-width: 250px;
    margin: 0px;
    padding: 0px;
}
.col-4 img{
    height: 650px;
}


.latestproducts{
    margin: 70px 0;
    width: 100%;
    height: 800px;

}
.lptitle{
    
    height: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    
    }
.lptitle h2{
    
        font-family: Barlow;
        text-align: center;
        margin-top: 200px;
        margin-bottom: 0px;
        font-size: 3vw;
        cursor: pointer;
        }
.smallcontainer{
    margin: auto;
    margin-top: 60px;
    width: 90%;
   

}

.row-5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}

.col-5photo{
   


}
.col-5{
    flex-basis: 10%;
    margin: 0px;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    
    
    
    
}
.col-5 img{
 height: 350px;
 cursor: pointer;

}

.col-5 h4{
    color: black;
    cursor: pointer;
    font-size: 1.1vw;
    font-weight: 600;
    
}


.col-5 p{
    color: black;
  
}

.offer{
    position: relative;
    width: 100vw;
    height: 900px;
    background: black;
    color: white;
    overflow: hidden;


}
.offertitle{
    
    height: 10%;
    margin-top: 500px;
    margin-bottom: 0px;
    
    }
.offertitle h4{
    position: absolute;
    
    
        font-family: Barlow;
        text-align: center;
        top: 300px;
        left: 150px;
        font-size: 3vw;
   
        }
.offer img{
    position: absolute;
    left: 50%;
    top:10px;


}

.button2{
    position: absolute;
    top: 550px;
    left: 185px;
    width: 320px;
    height: 100px;
    border: none;
    
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    transition: ease-out 0.3s;
    font-size: 1.4vw;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    }
    
    .button2:hover{
        box-shadow: inset 320px 0 0 0 rgb(255, 255, 255);
        color: black;
    }



.sponsors{
    height: 400px;
}


    .col-6{
        flex-basis: 10%;
        margin-top: 100px;
        min-width: 200px;
        padding: 10px;
        margin-bottom: 50px;
    }
.col-6 img{
    width: 200px;
}

.footer{
   
    width: 100%;
    background-color: black;
    color: white;
}

.row-8{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 300px;
    color: rgba(255, 255, 255, 0.616);
    


}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    max-width: 250px;
    margin-bottom: 20px;
   
}


.footer-col-2 img{
    width: 200px;


}

.footer-col-1 img{
    width: 100px;
}
 .footer-col-1{
     flex-basis: 30%;
 }
 .footer-col-2{
     flex-basis: 1;
     text-align: center;
 }

 .footer-col-3{
     flex-basis: 12%;
     text-align: center;


 }
 .footer-col-4{
    flex-basis: 12%;
    text-align: center;
 }

 .footer-col-3 ul{
     list-style: none;
 }
 
 .footer-col-4 ul{
    list-style: none;
}
.footer-col-3 h3{
    margin-left: 30px;

}
.footer-col-4 h3{
    margin-left: 30px;
}

.footer-col-3 p{
    color: rgba(240, 17, 17, 0.596);

}
.footer-col-4 p{
    color: rgba(255, 0, 0, 0.596);
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* -------------MEDIA QUERY FOR MENU ------------- */

@media only screen and (max-width: 800px){

    .frontphotodiv{
        margin-top: 31%;



    }
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
    }
    .menu-icon{
        cursor: pointer;
        display: block;
    }
    .offerquerytitle{
        display: hidden;
    }


}


/* media query for less than 600 screen size */

@media only screen and (max-width: 600px){
    .row{
        text-align: center;

    }
    .col-2, .col-4, .col-5, .col-6{
        text-align: center;
    }


    .col-2{
        width: 280px;
        height: 90px;
        position: absolute;
        top: 150px;
        

        
    }
    .col-2 h1{
        position: absolute;
        top: -20px;
        font-size: 20px;

        
    }
    .col-2 h2{
        position: absolute;
        top: 5px;
        font-size: 20px;
        left: -40px;
    }
    .col-2 p{
        position: absolute;
           top: 30px;
            font-size: 8px;
            left: 2px;
            
    
            
        }
    .frontbutton{
        position: absolute;
        top: 100px;
        left: 20px;
        width: 100px;
        height: 30px;


    }
    .fptitle h2{
        font-size: 20px;
    }

        
    }
    .row-2{
        height: 500px;
        overflow: scroll;
        margin-bottom: 0px;
    }
    .col-4 img{
        width: 100%;
    }
    .fpdescription p{
        font-size: 20px;

    }
    .latestproducts{
        top: 1100px;
        position: absolute;
        width: 230px;
        height: 70px;
    }
    .latestproducts hr{
        position: absolute;
        left: 150px;
        top: 50px;
    }
    .lptitle{
        position: absolute;
        top: -200px;
        left: 90px;
        width: 200px;
        
    }
    .lptitle h2{
        font-size: 20px;

    }
    .col-5{
        margin-left: 60px;
    }

    .col-5photo{
        margin-left: 20px;
    }
    .col-5 h4, p{
        text-align: center;
        font-size: 10px;
        margin-left: 80px;
    }


    .offer{
       
        top: 2000px;
    }
    .offertitle{
        width: 200px;
    }
    .offertitleh4{
        position: absolute;
        margin-left: 0px;
        top: 500px;
        color:yellow;
        font-size: 20px;
        width: 200px;
    }
    .offertitle img{
        width: 500px;
        left: -45px;
    }

    .offer button{
        width: 200px;
        height: 50px;
        left: 20px;
        font-size: 15px;
        top: 480px;

    }
    .offerquerytitle{
        display: inline-block;
        position: absolute;
        width: 200px;
        height: 200px;
        /* background: white; */
        font-size: 20px;
        color: white;
        top: 3600px;
        left: 20px;
    }






    .sponsors{
        position: absolute;
        top: 4000px;
        background: white;
    }
    .col-6 {
        width: 200px;
        flex-direction: row;
    }

    .col-6 img{
        width: 100px;
        flex-direction: row;
    }

    .footer{
        position: absolute;
        top: 4000px;
    }
    .row-8{
        position: absolute;
        top: 4700px;
        text-align:center;
        width: 400px;
        height: 600px;
    }

    .row-8 .footer-col-1{
        position: absolute;
        left: -10px;
        top: 10px;
    }

    .footer-col-1 p{
        
        margin-left: 15px;
        top: 10px;
    }

    .footer-col-1 img{
        
        margin-left: 15px;
        
    }

    .row-8 .footer-col-2{
        position: absolute;
        left: 
        70px;
        top: 400px;
        

    }

    .row-8 .footer-col-2 p{
      
        margin-left: 0px;
      
        

    }
    .row-8 .footer-col-3{
        position: absolute;
        left: 220px;
        top: 10px;

    }

.row-8 .footer-col-4{
    position: absolute;
    left: 120px;
    top: 200px;





}